.Shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin: 40px;
}


.cart-container {
    background: lightsalmon;
    width: 100%;
    height: 500px;
    border-radius: 8px;
    margin-left: 20px;
    overflow: hidden;
    position: sticky;
    top: 3%;
    text-align: center;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}