.review {
    margin-top: 20px;
}

.items {
    display: flex;
    border: 2px solid #ffe0b3;
    border-radius: 8px;
    width: 500px;
    padding: 10px;
}

.items img {
    max-width: 90px;
    border-radius: 8px;
    margin-right: 20px;
}

.item-des {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 15px;
}

.delete {
    color: #eb5757;
    background-color: rgba(235, 87, 87, 0.3);
    border-radius: 50%;
    border: 0;
    width: 55px;
    height: 55px;
    font-size: 25px;
}

.delete:hover {
    background-color: rgba(235, 87, 87, 0.5);
    cursor: pointer;
}